.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainDiv {
  height: 100vh;
  color: #fff;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  
}
.city{
  font-size: 14px;
  font-weight: 50;
  color: #9B9CA0;
  
}
.temp{
  font-size: 42px;
  font-weight: 500;
}
.dateTime {
  font-size: 12px;
  font-weight: 100;
  color: #9B9CA0;
}
.alignCenter{
text-align: center;
line-height: 1;
margin-top: 25px;
}
.contentAlignment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
}
.cloudIcon {
  position: relative;
  margin-bottom: 10px;
  margin-right: 15px;
}

.dot{
  border-radius: 50%;
  height: 8px;
  width: 8px;
  display: inline-block;
}
.red{
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.route1 {
  color: #a3a9b0;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}
.route2{
  color: #575e67;
  font-size: 11px;
  font-weight: 200;
  line-height: 1.5;
}
.accContainer{
border-bottom: 1px solid #1F262E;;
}
.timeDiv{
  font-size: 18px;
  margin-left: 8px;
  font-family: 'RobotoBold';
}
.weather{
  margin-bottom: 25px;
}
.iconPosTop {
  position: relative;
  bottom: 4px;
  margin-left: 3px;
}
.arrowIcon{
  margin-top: 8px;
}
.minDiv{
  font-size: 10px;
}
.dist {
  margin-top: 8px;
}