body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
  url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoBold';
  src: local('RobotoBold'),
  url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
code {
  font-family: 'Roboto', sans-serif;
}

.row>*{
  padding-right: 0px;
}